@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 
}
h1 {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  font-size: 2rem;
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  padding: 20px 0px;
}
p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-weight: lighter;
  padding-right: 25px;
  
  margin-bottom: 20px;
  color: hsla(0, 0%, 100%, 0.75);
}
svg {
  margin-bottom: 10px;
}
.outer {
  padding: 50px 20px;
  margin: 0px auto;
  width: 100%;
  background: hsl(0, 0%, 95%);
}
.card{
  width: 100%;
  padding: 50px;
}
.card-1 {
  
  background: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 10px;
}

.card-2 {
  background: hsl(184, 100%, 22%);
}
.card-3 {
  background: hsl(179, 100%, 13%);
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
}
button {
  margin: 10px 0px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  padding: 10px;
  height: 50px;
  width: 150px;
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
  background: hsl(0, 0%, 95%);

  bottom: 0;
  left: 0;
}
.btn-1{
  color: hsl(31, 77%, 52%);
}
.btn-2{
  color:hsl(184, 100%, 22%) ;
}
.btn-3{
  color: hsl(179, 100%, 13%);}

button:hover{
  background: none;
  border: 2px solid hsl(0, 0%, 95%) ;
  color:  hsl(0, 0%, 95%);
}
@media only screen and (min-width: 768px) {
  .outer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-content: center;
    height: 95vh;
    padding: 0vh 12vw;
  }
  h1{
    font-size: 3rem;
  }
  .card{
    
    padding: 50px 40px 30px 50px;
  }
  button{
    margin-bottom: 2vh;
  }
  .card-1{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  .card-3{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
}

  
